body{
    background-image: url("./images/hoop.jpg");
    /* margin-top: -210px;
    padding-bottom: 85%;*/
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: padding-box;
    background-color:black;
 }

 .footer{
    background-color: gray;
    opacity: 45%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

